{% extends "base.html" %}

{% block title %}Return Book - Book Library Management System{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Return Book</h4>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                        {{ message }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    
                    <p>Please select the book you want to return from your borrowed books list.</p>
                    <a href="{{ url_for('my_books') }}" class="btn btn-primary btn-block">View My Borrowed Books</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}